:root {
    --bs-modal-bg: #000;
    --dark-black: #1E1F22;
    --mid-black: #2B2D31;
    --light-black: #313338;
    --dark-gray: #80848E;
    --mid-gray: #B5BAC1;
    --light-gray: #DBDEE1;
    --violet: #9906AA;
    --red: #DC0000;
    --orange: #FC6626;
    --grad-violet: linear-gradient(
            325deg,
            hsl(0deg 0% 0%) 0%,
            hsl(295deg 100% 3%) 2%,
            hsl(293deg 100% 5%) 3%,
            hsl(295deg 100% 7%) 5%,
            hsl(294deg 100% 10%) 7%,
            hsl(294deg 100% 13%) 10%,
            hsl(294deg 100% 15%) 13%,
            hsl(294deg 100% 18%) 16%,
            hsl(294deg 100% 20%) 20%,
            hsl(297deg 100% 23%) 26%,
            hsl(306deg 100% 26%) 34%,
            hsl(313deg 100% 30%) 45%,
            hsl(321deg 100% 33%) 59%,
            hsl(329deg 100% 36%) 71%,
            hsl(337deg 100% 40%) 80%,
            hsl(345deg 100% 43%) 88%,
            hsl(352deg 100% 47%) 94%,
            hsl(0deg 100% 50%) 100%
    );
    --grad-red: linear-gradient(
            325deg,
            hsl(0deg 100% 43%) 0%,
            hsl(1deg 100% 44%) 6%,
            hsl(2deg 100% 45%) 13%,
            hsl(3deg 99% 46%) 19%,
            hsl(4deg 99% 47%) 25%,
            hsl(6deg 99% 47%) 31%,
            hsl(7deg 99% 48%) 37%,
            hsl(8deg 99% 49%) 44%,
            hsl(9deg 98% 50%) 50%,
            hsl(10deg 98% 51%) 56%,
            hsl(11deg 98% 52%) 63%,
            hsl(12deg 98% 53%) 69%,
            hsl(13deg 98% 54%) 75%,
            hsl(15deg 97% 54%) 81%,
            hsl(16deg 97% 55%) 87%,
            hsl(17deg 97% 56%) 94%,
            hsl(18deg 97% 57%) 100%
    );
    --grad-orange: linear-gradient(
            320deg,
            hsl(18deg 97% 57%) 0%,
            hsl(19deg 95% 58%) 6%,
            hsl(20deg 92% 59%) 13%,
            hsl(21deg 90% 61%) 19%,
            hsl(22deg 88% 62%) 25%,
            hsl(23deg 85% 63%) 31%,
            hsl(24deg 84% 64%) 37%,
            hsl(26deg 81% 65%) 44%,
            hsl(27deg 79% 67%) 50%,
            hsl(28deg 77% 68%) 56%,
            hsl(29deg 75% 69%) 63%,
            hsl(30deg 72% 70%) 69%,
            hsl(31deg 70% 72%) 75%,
            hsl(32deg 67% 73%) 81%,
            hsl(33deg 65% 74%) 87%,
            hsl(35deg 62% 75%) 94%,
            hsl(36deg 60% 76%) 100%
    );
    --background-body: var(--light-gray);
    --text-main: var(--dark-black);
    --text-secondary: var(--mid-black);
    --primary-color: var(--grad-red);
    --font-family-serif: 'Archivo', sans-serif;
    --font-family-sans: 'Archivo', sans-serif;
}

:root.theme-dark {
    --background-body: var(--mid-black);
    --text-main: var(--light-gray);
    --text-secondary: var(--mid-gray);
    --primary-color: var(--grad-orange);
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-family-serif);
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-body);
    color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family-sans);
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 0.5em 0;
}

h1 {
    font-family: var(--font-family-serif);
    font-size: 4.5em;
    margin: 0 0 1em 0;
}

h2 {
    margin: 0 .2rem;
    font-size: 1.8em;
    display: inline-block;
}

h3 {
    font-size: 1.5em;
    color: var(--text-secondary);
}

h4 {
    font-size: 1.4em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.2em;
}

p,
ul,
ol {
    font-size: 1.3rem;
    line-height: 1.75em;
    margin: 0.1em 0;
}

ol,
ul {
    padding-left: 2rem;
    -webkit-padding-start: 5%;
    -webkit-padding-end: 5%;
}

li {
    margin: 1rem 0;
}

li p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

a {
    color: inherit;
    transition: color linear 0.15s;
}

a:hover {
    color: var(--primary-color);
}

p a {
    text-decoration: none;
    box-shadow: inset 0 -0.12em 0 var(--primary-color);
    -webkit-transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

p a:hover {
    box-shadow: inset 0 -1.5em 0 var(--primary-color);
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

hr {
    padding: 0;
    border: 0;
    height: 10px;
    margin: 40px auto;
    background-image: url("/public/assets/hr.svg");
}

code {
    font-family: 'SF Mono', menlo, inconsolata, monospace;
    font-size: calc(1em - 2px);
    color: #555;
    padding: 0.2em 0.4em;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

pre {
    border-radius: 8px !important;
    margin: 1.2em 0 !important;
    padding: 1.2em;
}

pre code {
    padding: 0;
}

blockquote {
    border-left: 4px solid #cccccc;
    font-size: 1.4em;
    font-style: italic;
    margin: 2rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

blockquote p {
    padding-bottom: 6px;
}

blockquote footer {
    font-size: 1.1rem;
    text-align: right;
}

figure {
    padding: 0;
    border: 0;
    vertical-align: baseline;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
}

table {
    border-collapse: collapse;
    font-family: var(--font-family-sans);
    font-size: 1.125em;
    margin: 2em 0;
}

th {
    border-bottom: 2px solid #cccccc;
    padding: 0.4em 0.8em;
}

td {
    padding: 0.4em 0.8em;
}

.container {
    margin: 0 auto;
    max-width: 42em;
    width: 100%;
}

.content h1 {
    font-size: 3em;
    margin: 1em 0;
}

.theme-toggle {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0.33em 0.67em;
    padding-top: 8px;
    margin-left: 10px;
    gap: 0.6em;
    border-radius: 99em;
    background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 0.08em var(--theme-accent), 0 0 0 0.12em white;
}

.theme-toggle > label {
    color: var(--theme-code-inline-text);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
}

.theme-toggle .checked {
    color: var(--theme-accent);
    opacity: 1;
}

input[name='theme-toggle'] {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.timeline {
    margin: 1em;
    padding: 1em 2em;
    border: 2px solid var(--violet);
    border-radius: 1em;
}

.grad-text {
    background: var(--grad-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad-underline::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 2px;
    border-radius: 1px;
    background: var(--grad-red);
}

.grad-underline {
    width: max-content;
    position: relative;
}

.menu-items {
    display: flex;
}

nav img {
    display: none;
}

.badge {
    width: max-content;
    padding: .1em .6em;
    margin:  0 .2rem .2rem 0;
    border: 1px solid var(--dark-gray);
    border-radius: 1rem;
    display: inline-block;
}

.hidden {
    display: none !important;
}

@media (max-width: 1020px) {
    h1 {
        font-size: 3em;
    }

    .content h1 {
        font-size: 2.4em;
    }

    nav img {
        display: block;
    }

}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    p,
    ul,
    ol {
        font-size: 1.1rem;
        margin: 0.1em 0;
    }

    .menu-items {
        display: none;
    }

    nav img {
        display: block;
    }
}
