---
import SmallTimelineItem from "./timeline/SmallTimelineItem.astro";
import Dots from "./timeline/Dots.astro";
import TimelineCard from "./timeline/TimelineCard.astro";
import {jobs} from "../../resources/data";

const logos = {
    react: "assets/icons/react.svg",
    angular: "assets/icons/angular.svg",
    java: "assets/icons/java.svg"
}
---

<style>
    .timeline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<section id="experience">
    <hr/>
    <h2>Work </h2> <h2 class="grad-text">adventures</h2> <h2></h2>
    <h5>Chronicles of my coding odyssey</h5>
    <div class="timeline-container">
        <SmallTimelineItem label="Today"/>
        {jobs.map( j => (
                <Dots/>
                <TimelineCard project={j}/>
        ))}
    </div>

</section>