---
import SmallTimelineItem from "./timeline/SmallTimelineItem.astro";
import Dots from "./timeline/Dots.astro";
import TimelineCard from "./timeline/TimelineCard.astro";

const logos = {
    react: "assets/icons/react.svg",
    angular: "assets/icons/angular.svg",
    java: "assets/icons/java.svg"
}
---

<style>
    .timeline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<section id="experience">
    <hr/>
    <h2>How I've</h2> <h2 class="grad-text">built</h2> <h2>my experience</h2>
    <div class="timeline-container">
        <SmallTimelineItem label="Today"/>
        <Dots/>
        <TimelineCard title="Redbee" text="Fullstack developer" images={[logos.angular,logos.java]} date="Jun/22"/>
        <Dots/>
        <TimelineCard title="Ensolvers" text="Fullstack developer" images={[logos.react,logos.java]} date="Jul/21"/>
        <Dots/>
        <TimelineCard title="FactorIT" text="Fullstack developer" images={[logos.angular,logos.java]} date="Mar/21"/>
    </div>

</section>