---
const logos = [
    {link: "mailto:nicolas.alv3@gmail.com", logo: "assets/icons/gmail.svg", text: "Email"},
    {link: "https://t.me/nico_alvarez3", logo: "assets/icons/telegram.svg", text: "Telegram"},
    {
        link: "https://www.linkedin.com/in/nicol%C3%A1s-sebastian-alvarez/",
        logo: "assets/icons/linkedin.svg",
        text: "LinkedIn"
    },
]
---
<style>
    p {
        color: var(--text-secondary);
    }

    img {
        width: 6rem;
        height: 6rem;
    }

    img:hover {
        cursor: pointer;
        transition: all ease-in-out .2s;
        width: 6.3rem;
        height: 6.3rem;
        filter: grayscale(90%);
    }

    .links-container {
        margin: 2rem 5.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .links-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<section id="reach-me-out">
    <hr/>
    <h2>Download my</h2>
    <h2 class="grad-text"> CV </h2>
    <p>Here you can see or get a copy of my CV</p>
    <iframe src="https://drive.google.com/file/d/1OPQONB27A-EJz7NBOiOK94SdPeBgScrI/preview" width="100%" height="450"
            allow="autoplay" title="CV frame"></iframe>
</section>