---

---

<style>
</style>

<section id="share-learnned">
    <hr/>
    <h2>Development </h2>
    <h2 class="grad-text"> Diaries </h2>

    <p>Recording podcasts</p>
    <iframe
            src="https://open.spotify.com/embed/episode/0B0gVdZ0cbWSbdgTf3D8xH?utm_source=generator&theme=0&t=0"
            width="100%" height="152" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <p>Blogging</p>
    <iframe width="100%" height="600px"
            src="https://e.notionhero.io/e1/p/cbe3b06-c5a76aa33f98aac1ca711bb537af17b"></iframe>
</section>