<style>
    .box {
        border: 2px solid var(--dark-gray);
        border-radius: 8px;
        padding: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    h6 {
        width: min(50rem, 100%);
    }

    img {
        width: 15rem;
        border-radius: 50%;
    }
</style>

<section id="about-me">
    <hr/>
    <h2>Hello</h2>
    <h2 class="grad-text"> world! </h2>
    <h5>Here's a little about me</h5>
    <div class="box">
        <img src="/assets/pfp.webp" alt="profile picture" />
        <h6>
            Hey there! I'm <b>Nicolas Alvarez</b> a passionate fullstack developer and computer science student actively seeking an inspiring work environment.
            Known for my strong sense of responsibility, proactive approach, quick learning abilities, and collaborative spirit.
            I'm eager to join a company that provides a clear career path to enhance both my technical expertise and interpersonal skills.
        </h6>
    </div>

</section>