---
import NButton from "./utils/NButton.astro";
---
<>
    <div class="home-copy">
        <h1>Building value through code</h1>
        <p>I’m a Software engineer focused on add value
            to company bussiness. </p>
        <NButton href="#reach-me-out">Contact me!</NButton>
    </div>

    <div class="hero-image-container">
        <picture>
            <source srcset="/assets/computer.svg" media="(min-width: 600px)">
            <img class="hero-image" alt="Illustration of person reading a book"
                 src="/assets/computer.svg" width="256" height="500">
        </picture>
    </div>
</>

<style>
    h1{
        margin: 0;
    }

    p {
        margin: 1rem 0;
        padding-right: 3rem;
    }

    img {
        width: 24em;
        height: 20em;
        flex-shrink: 0;
    }

    .home-copy {
        width: 35em;
    }
</style>