<>
    <div class="home-copy">
        <h1>Nicolas Alvarez</h1>
        <p>Building value through code
            <!--<a href="https://www.github.com/Charca/astro-blog-template" target="_blank" rel="noopener">GitHub</a>--></p>
    </div>

    <div class="hero-image-container">
        <picture>
            <source srcset="/assets/casual-life-3d-young-man-in-headset-using-computer.webp" media="(min-width: 600px)">
            <img class="hero-image" alt="Illustration of person reading a book"
                 src="/assets/casual-life-3d-young-man-in-headset-using-computer.webp" width="256" height="307">
        </picture>
    </div>
</>