---
import SmallTimelineItem from "./timeline/SmallTimelineItem.astro";
import Dots from "./timeline/Dots.astro";
import TimelineCard from "./timeline/TimelineCard.astro";
import {projects} from "../../resources/data";
---

<style>
    .timeline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>

<section id="projects">
    <hr/>
    <h2>Code </h2> <h2 class="grad-text"> playground</h2> <h2></h2>
    <h5>Crafting personal projects and testing ideas</h5>
    <div class="timeline-container">
        <SmallTimelineItem label="Today"/>
        {projects.map( p => (
                <Dots/>
                <TimelineCard project={p}/>
        ))}
    </div>

</section>