---
const logos = [
    {link: "mailto:nicolas.alv3@gmail.com", logo: "assets/icons/gmail.svg", text: "Email"},
    {link: "https://t.me/nico_alvarez3", logo: "assets/icons/telegram.svg", text: "Telegram"},
    {
        link: "https://www.linkedin.com/in/nicol%C3%A1s-sebastian-alvarez/",
        logo: "assets/icons/linkedin.svg",
        text: "LinkedIn"
    },
]
---
<style>
    p {
        color: var(--text-secondary);
    }

    img {
        width: 6rem;
        height: 6rem;
    }

    img:hover {
        cursor: pointer;
        transition: all ease-in-out .2s;
        width: 6.3rem;
        height: 6.3rem;
        filter: grayscale(90%);
    }

    .links-container {
        margin: 2rem 5.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .links-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<section id="reach-me-out">
    <hr/>
    <h2>Let's </h2>
    <h2 class="grad-text"> connect! </h2>
    <h5>Contact me on the following links</h5>
    <div class="links-container">
        {logos.map(({logo, link, text}) =>
                <div>
                    <a href={link} target="_blank">
                        <img alt="logo" src={logo}/></a>
                    <p>{text}</p>
                </div>) }
            </div>

            </section>