---
const logos = [
    {logo: "assets/icons/teamwork.svg", text: "Collaborative Approach"},
    {logo: "assets/icons/design.svg", text: "Design first"},
    {logo: "assets/icons/improvement.svg", text: "Continuous improvement"},
]
---
<style>
    .links-container p {
        color: var(--text-secondary);
        text-align: center;
    }

    img {
        width: 6rem;
        height: 6rem;
    }

    img:hover {
        cursor: pointer;
        transition: all ease-in-out .2s;
        width: 6.3rem;
        height: 6.3rem;
        filter: grayscale(90%);
    }

    .links-container {
        margin: 2rem 5.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
    }

    .links-container div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<section id="the-way-i-code">
    <hr/>
    <h2>My  </h2>
    <h2 class="grad-text"> methodology </h2>
    <h5>Strategies and principles that drive my development approach</h5>
    <div class="links-container">
        {logos.map(({logo, text}) =>
                <div>
                    <img alt="logo" src={logo}/>
                    <p>{text}</p>
                </div>) }
            </div>

            </section>