---
import NButton from "./utils/NButton.astro";
---
<>
    <div class="home-copy">
        <h1>Transforming ideas into reality</h1>
        <p>Turning challenges into opportunities, driven by purpose, one code line at a time.</p>
        <a href="#reach-me-out"><NButton>Let's work together!</NButton></a>
    </div>

    <div class="hero-image-container">
        <picture>
            <source srcset="/assets/image.webp" media="(min-width: 600px)">
            <img class="hero-image" alt="Illustration of person reading a book"
                 src="/assets/image.webp" width="500" height="500">
        </picture>
    </div>
</>

<style>
    h1{
        margin: 0;
    }

    p {
        margin: 1rem 0;
    }

    .home-copy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 35em;
    }
</style>