<style>
    .dots {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: .6em;
    }

    .dots div {
        height: .6em;
        width: .6em;
        background: var(--dark-gray);
        border-radius: .6em;
    }
</style>

<div class="dots">
    <div/>
    <div/>
    <div/>
</div>