---
interface Props {
    href: string;
}
const { href, color } = Astro.props;
---


<button style={`background: ${color}; box-shadow: box-shadow: 0 4px 4px 0 ${color}`}><slot /></button>
<style>
    button {
        width: 100%;
        display: flex;
        padding: 1rem 2rem;
        justify-content: center;
        align-items: center;
        gap: 10px;

        border-radius: 8px;
        border: none;
        background: linear-gradient(94deg, #9906AA 0%, #DC0000 100%);
        box-shadow: 0 4px 4px 0 rgba(220, 0, 0, 0.37);
    }

    a, button {
        cursor: pointer;
        color: #DBDEE1;

        /* Text button */
        font-style: normal;
        font-size: 21px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.0125rem;
    }
</style>